# Python specific files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# IDE-specific files and directories (uncomment if you use these IDEs)
# .vscode/   # VS Code specific settings
# .idea/     # PyCharm specific settings
# *.iml      # IntelliJ/PyCharm module files